.git
.github
.idea
.vscode
.cursor
node_modules
vendor
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitignore
!storage/app/public/.gitignore
!storage/app/private/.gitignore
.env
.env.*
.phpunit.cache
.phpunit.result.cache
tests
compose.yaml
docker-compose.yml
Homestead.json
Homestead.yaml
README.md
*.md
!docker/**
